@model Sibers_test_task.ViewModels.WorkerViewModel
@{
    ViewBag.Title = "ShowWorkers";
}

<h2>Team of executors</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatronymicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.HiddenFor(model => model.isChecked)
        </th>
        <th></th>
    </tr>

    @for (var item = 0; item < Model.Workers.Count; item++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Workers[item].FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Workers[item].LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Workers[item].PatronymicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Workers[item].Email)
            </td>
            <td>
                @Html.HiddenFor(modelItem => Model.Workers[item].isChecked)
            </td>
            @Html.HiddenFor(modelItem => Model.Workers[item].WorkerID)
        </tr>
    }


</table>
